.navbg {
  background-color: #008874 !important;
  width: 100% !important;
}
.navContainer {
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;
  display: flex;
}
.nav-item {
  display: flex !important;
  color: white !important;
  justify-content: center !important;
  align-items: center !important;
}
.nav-link {
  color: white !important;
}
.nav-left {
  color: white !important;
  /* margin-left: 5rem; */
}

.vl {
  border-left: 1px solid white;
  height: 50px;
}
.profile {
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
}
.profile p {
  color: #008874;
  font-size: 18px;
  font-weight: 800;
  margin-top: 11px;
}
