.stats {
  padding: 0 4em 0 0;
  width: 45%;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.stats__container {
  width: 100%;
  text-align: left;
  border: 1px solid #e5e5e5;
}
.statshead-item p {
  font-size: 10px;
}
.dot1 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fedd84;
}

.dot2 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #febe13;
}

.foot p {
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 12px/14px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.share {
  text-align: left;
  font: normal normal bold 14px/17px Calibri;
  color: #001737;
  opacity: 1;
}

.mid-text {
  font-weight: 900;
  font-size: 2rem;
}

.pie {
  position: relative;
}

.percent {
  position: absolute;
  top: 45%;
  left: 48% !important;
  font-size: 2rem;
  font-weight: 900;
}
